[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
flask = "*"
pymongo = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
python-dotenv = "*"
utm = "*"

[dev-packages]
tomli = "*"

[requires]
python_version = "3.9"
