[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"

[dev-packages]
pytest = "*"
build = "*"
black = "*"
coverage = "*"
pylint = "*"
pandas = "*"
matplotlib = "*"
pymongo = "*"

[requires]
python_version = "3.9"
